.LoadingPlane_loadingContainer__QvMH0 {
    max-width: 275px;
    min-height: 102px;
    padding: 30px 0 0;
    overflow: hidden
}

.LoadingPlane_PlaneLoader__dySXj {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    animation: LoadingPlane_loadingPlane__BoSGO 1.2s linear infinite both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (max-width: 659px) {
    .LoadingPlane_PlaneLoader__dySXj {
        fill:#01426a!important
    }
}

@keyframes LoadingPlane_loadingPlane__BoSGO {
    0% {
        transform: translateX(-150px);
        opacity: 0
    }

    10% {
        transform: translateX(0);
        opacity: .1
    }

    20% {
        opacity: 1
    }

    70% {
        transform: translateX(150px);
        opacity: 1
    }

    90% {
        transform: translateX(225px);
        opacity: .1
    }

    to {
        transform: translateX(300px);
        opacity: 0
    }
}

.LoadingCloud_black__2I9w5 {
    color: #222!important;
    text-shadow: none!important
}

.LoadingCloud_white__4HAfR {
    color: #fff!important
}

.LoadingCloud_white__4HAfR auro-hyperlink[cta] {
    text-shadow: none!important
}

.LoadingCloud_dark-gray__Xhf5c {
    color: #626b79!important;
    text-shadow: none!important
}

.LoadingCloud_gray__aCCaD {
    color: #9fabbb!important;
    text-shadow: none!important
}

.LoadingCloud_blue__Iypka {
    color: #0074c8!important;
    text-shadow: none!important
}

.LoadingCloud_bright-blue__pX7D1 {
    color: #00cff0!important;
    text-shadow: none!important
}

.LoadingCloud_light-gray__j6jc3 {
    color: #dbdbdb!important;
    text-shadow: none!important
}

.LoadingCloud_pink__QoPS6 {
    color: #ff999b!important;
    text-shadow: none!important
}

.LoadingCloud_red__lg2dK {
    color: #df0b37!important;
    text-shadow: none!important
}

.LoadingCloud_loadingContainer__2QsHj {
    max-width: 275px;
    min-height: 105px;
    padding: 30px 0 0;
    overflow: hidden
}

.LoadingCloud_CloudLoader__4saO2 {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    animation: LoadingCloud_loadingCloud__HspGp 1.2s linear infinite both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (max-width: 659px) {
    .LoadingCloud_CloudLoader__4saO2 {
        fill:#01426a!important
    }
}

@keyframes LoadingCloud_loadingCloud__HspGp {
    0% {
        transform: translateX(-150px);
        opacity: 0
    }

    10% {
        transform: translateX(0);
        opacity: .1
    }

    20% {
        opacity: 1
    }

    70% {
        transform: translateX(150px);
        opacity: 1
    }

    90% {
        transform: translateX(225px);
        opacity: .1
    }

    to {
        transform: translateX(300px);
        opacity: 0
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B {
    margin-bottom: 15px
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B div,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B p {
    margin-bottom: 0
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
    font-size: 1rem;
    line-height: 1.25em
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1 {
    font-size: 2.25rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1 {
        font-size:3rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2 {
    font-size: 1.625rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2 {
        font-size:2.25rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3 {
    font-size: 1.5rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3 {
        font-size:1.75rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
    font-size: 1.375rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
        font-size:1.25rem
    }
}

.LowestFlightDeal_LowestFlightDeal__Offer__9ud7H {
    margin: 0 0 15px;
    min-height: 44px;
    min-width: 64px;
    animation: LowestFlightDeal_fadeInPrice__H6j__ .5s linear both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__Offer__9ud7H {
        min-height:64px;
        margin-bottom: 0
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferDollarSign__M1I3L {
    font-weight: 700;
    top: -7px;
    position: relative;
    font-size: 30px;
    display: inline-block
}

.LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
    font-weight: 700;
    font-size: 48px;
    line-height: .75em;
    display: inline-block;
    min-width: 61px
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
        min-width:100px
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferFlightType__Kocqf {
    font-weight: 400;
    line-height: 1em;
    font-size: 11px;
    display: inline-block
}

.LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9 {
    display: inline-block;
    padding-top: .5rem;
    font-size: .75rem;
    animation: LowestFlightDeal_fadeInPrice__H6j__ .5s linear both;
    transition: transform .1s linear
}

.LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9:hover {
    text-decoration: none
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferDollarSign__M1I3L {
        font-size:60px
    }

    .LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
        font-size: 78px
    }

    .LowestFlightDeal_LowestFlightDeal__OfferFlightType__Kocqf {
        font-size: 15px
    }

    .LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9 {
        color: #fff
    }
}

.LowestFlightDeal_noLinkStyle__B5__y {
    text-decoration: none!important;
    color: inherit!important
}

@keyframes LowestFlightDeal_fadeInPrice__H6j__ {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.WelcomeHeadline_Welcome__Headline__lBxow {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 1em
}

@media screen and (max-width: 659px) {
    .WelcomeHeadline_Welcome__Headline__lBxow {
        color:#01426a!important
    }
}

@media screen and (min-width: 660px) {
    .WelcomeHeadline_Welcome__Headline__lBxow {
        text-shadow:1px 1px 5px #0c000066;
        position: relative;
        z-index: 3
    }
}

.ShimmerBlock_ShimmerBlockWrapper__vuH1P {
    position: relative;
    background-color: #f8f8f8
}

.ShimmerBlock_ShimmerBlock__i8YIc {
    position: relative;
    height: 1rem;
    background: #dbdbdb
}

.ShimmerBlock_ShimmerBlock__i8YIc:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: ShimmerBlock_shimmer__KBp_H;
    animation-timing-function: linear;
    background: linear-gradient(90deg,#0000,#f8f8f8 18%,#0000 33%);
    background-size: 900px 104px;
    background-repeat: no-repeat
}

@keyframes ShimmerBlock_shimmer__KBp_H {
    0% {
        background-position: -900px 0
    }

    to {
        background-position: 900px 0
    }
}

.FlexGridContainer_flexGridContainer__NPcbU {
    display: flex
}

.FlexGridItem_col__ytz9z {
    flex: 1
}

.ContainerLayout_containerLayout__VbZ25 {
    margin: 0 auto 24px;
    padding: 0 15px;
    max-width: 1024px
}

.BackgroundImage_BackgroundImage__YejOu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-color: #f8f8f8;
    background-size: cover;
    background-position: 50%
}

.HomepageHero_HomepageHero__6bakQ {
    color: #01426a;
    position: relative;
    width: 100%;
    min-height: 430px
}

@media screen and (min-width: 660px) {
    .HomepageHero_HomepageHero__6bakQ {
        min-height:505px;
        color: #fff;
        padding-top: 1rem
    }
}

@media screen and (min-width: 1024px) {
    .HomepageHero_HomepageHero__6bakQ {
        min-height:430px
    }
}

@media screen and (max-width: 659px) {
    .HomepageHero_HomepageHero__BackgroundImage__Q9mKC {
        position:static!important;
        width: 100%;
        height: 200px
    }
}

.HomepageHero_HomepageHero__LowestFlightDeal__vQ99c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 3px 0 #00000059;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2
}

@media screen and (max-width: 659px) {
    .HomepageHero_HomepageHero__LowestFlightDeal__vQ99c :not(auro-hyperlink) {
        color:#01426a
    }
}

@media screen and (min-width: 660px) {
    .HomepageHero_HomepageHero__LowestFlightDeal__vQ99c {
        box-shadow:none;
        border-radius: 0
    }

    .HomepageHero_HomepageHero__LowestFlightDeal__vQ99c :not(auro-hyperlink) {
        z-index: 2
    }
}

.HomepageHero_HomepageHero__LowestFlightDealText__Uixeb {
    margin: 12px 0 0;
    padding: 15px;
    overflow-wrap: break-word
}

@media screen and (min-width: 660px) {
    .HomepageHero_HomepageHero__LowestFlightDealText__Uixeb {
        margin:0;
        padding: 0
    }
}

.HomepageHero_HomepageHero__HomeletWrapper__Jlujk {
    position: relative;
    background-color: #f8f8f8
}

.HomepageHero_HomepageHero__HomeletWrapper__Jlujk .homelet,.HomepageHero_HomepageHero__HomeletWrapper__Jlujk>div {
    width: 100%;
    position: relative
}

@media screen and (min-width: 660px) {
    .HomepageHero_HomepageHero__HomeletWrapper__Jlujk .homelet,.HomepageHero_HomepageHero__HomeletWrapper__Jlujk>div {
        position:absolute;
        z-index: 3
    }

    .HomepageHero_HomepageHero__HomeletFlexGridItem__EzVqs {
        max-width: 484px!important
    }
}

@media screen and (max-width: 1023px) {
    .HomepageHero_HomepageHero__HomeletFlexGridItem__EzVqs {
        flex:2 2
    }
}

@media screen and (max-width: 659px) {
    .HomepageHero_HomepageHero__HomeletFlexGridItem__EzVqs {
        min-height:494px
    }
}

@media screen and (max-width: 1023px) {
    .HomepageHero_HomepageHero__DealFlexGridItem__raI_c {
        flex:1 1
    }
}

.HomepageHero_noLinkStyle__GnD1h {
    text-decoration: none!important;
    color: inherit!important
}

@media screen and (max-width: 659px) {
    .HomepageHero_HomepageHero__FlexGridItem__O_mQ8 {
        flex-basis:auto!important
    }
}

.HomepageHero_HomepageHero__EasterEgg__Ps_IU {
    animation: HomepageHero_fadeBackground__bRXXQ 6s linear
}

.HomepageHero_HomepageHero__EasterEgg__Ps_IU+.HomepageHero_HomepageHero__LowestFlightDealText__Uixeb {
    animation: HomepageHero_fadeForeground__Ljg0T 6s linear
}

@keyframes HomepageHero_fadeBackground__bRXXQ {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes HomepageHero_fadeForeground__Ljg0T {
    0% {
        opacity: 1
    }

    30% {
        opacity: 0
    }

    90% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
