.u-section-2, .u-section-4 {
    background: linear-gradient(145deg, #56a4f9, rgb(181, 181, 255)) !important;
}

.u-section-1 .u-text-1 {
    color: #01426a;
}

.u-white {
    background-color: white;
    color: black;
}

.contact-b {
    background-color: #e9f2fa;
}
.u-text-palette-3-base {
    color: #01426a;
}

.u-palette-3-base {
    background-color: #01426a;
}
.u-palette-3-base img {
    border-radius: 50%;
}
.u-input {
    border-color: #b3b3b3;
    background-color: #ffffff;
    color: #000000;
    border-width: 1px;
}