.LoadingPlane_loadingContainer__QvMH0 {
    max-width: 275px;
    min-height: 102px;
    padding: 30px 0 0;
    overflow: hidden
}

.LoadingPlane_PlaneLoader__dySXj {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    animation: LoadingPlane_loadingPlane__BoSGO 1.2s linear infinite both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (max-width: 659px) {
    .LoadingPlane_PlaneLoader__dySXj {
        fill:#01426a!important
    }
}

@keyframes LoadingPlane_loadingPlane__BoSGO {
    0% {
        transform: translateX(-150px);
        opacity: 0
    }

    10% {
        transform: translateX(0);
        opacity: .1
    }

    20% {
        opacity: 1
    }

    70% {
        transform: translateX(150px);
        opacity: 1
    }

    90% {
        transform: translateX(225px);
        opacity: .1
    }

    to {
        transform: translateX(300px);
        opacity: 0
    }
}

.LoadingCloud_black__2I9w5 {
    color: #222!important;
    text-shadow: none!important
}

.LoadingCloud_white__4HAfR {
    color: #fff!important
}

.LoadingCloud_white__4HAfR auro-hyperlink[cta] {
    text-shadow: none!important
}

.LoadingCloud_dark-gray__Xhf5c {
    color: #626b79!important;
    text-shadow: none!important
}

.LoadingCloud_gray__aCCaD {
    color: #9fabbb!important;
    text-shadow: none!important
}

.LoadingCloud_blue__Iypka {
    color: #0074c8!important;
    text-shadow: none!important
}

.LoadingCloud_bright-blue__pX7D1 {
    color: #00cff0!important;
    text-shadow: none!important
}

.LoadingCloud_light-gray__j6jc3 {
    color: #dbdbdb!important;
    text-shadow: none!important
}

.LoadingCloud_pink__QoPS6 {
    color: #ff999b!important;
    text-shadow: none!important
}

.LoadingCloud_red__lg2dK {
    color: #df0b37!important;
    text-shadow: none!important
}

.LoadingCloud_loadingContainer__2QsHj {
    max-width: 275px;
    min-height: 105px;
    padding: 30px 0 0;
    overflow: hidden
}

.LoadingCloud_CloudLoader__4saO2 {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    animation: LoadingCloud_loadingCloud__HspGp 1.2s linear infinite both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (max-width: 659px) {
    .LoadingCloud_CloudLoader__4saO2 {
        fill:#01426a!important
    }
}

@keyframes LoadingCloud_loadingCloud__HspGp {
    0% {
        transform: translateX(-150px);
        opacity: 0
    }

    10% {
        transform: translateX(0);
        opacity: .1
    }

    20% {
        opacity: 1
    }

    70% {
        transform: translateX(150px);
        opacity: 1
    }

    90% {
        transform: translateX(225px);
        opacity: .1
    }

    to {
        transform: translateX(300px);
        opacity: 0
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B {
    margin-bottom: 15px
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B div,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B p {
    margin-bottom: 0
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
    font-size: 1rem;
    line-height: 1.25em
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1 {
    font-size: 2.25rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h1__3B_1H,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h1 {
        font-size:3rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2 {
    font-size: 1.625rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h2__qD0tB,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h2 {
        font-size:2.25rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3 {
    font-size: 1.5rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h3__P0uIN,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h3 {
        font-size:1.75rem
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
    font-size: 1.375rem
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h4__vxMre,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h5__DScYD,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B .LowestFlightDeal_h6__O4Ux0,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h4,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h5,.LowestFlightDeal_LowestFlightDeal__OfferText__0ca5B h6 {
        font-size:1.25rem
    }
}

.LowestFlightDeal_LowestFlightDeal__Offer__9ud7H {
    margin: 0 0 15px;
    min-height: 44px;
    min-width: 64px;
    animation: LowestFlightDeal_fadeInPrice__H6j__ .5s linear both;
    transition: transform .1s linear;
    will-change: transform
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__Offer__9ud7H {
        min-height:64px;
        margin-bottom: 0
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferDollarSign__M1I3L {
    font-weight: 700;
    top: -7px;
    position: relative;
    font-size: 30px;
    display: inline-block
}

.LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
    font-weight: 700;
    font-size: 48px;
    line-height: .75em;
    display: inline-block;
    min-width: 61px
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
        min-width:100px
    }
}

.LowestFlightDeal_LowestFlightDeal__OfferFlightType__Kocqf {
    font-weight: 400;
    line-height: 1em;
    font-size: 11px;
    display: inline-block
}

.LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9 {
    display: inline-block;
    padding-top: .5rem;
    font-size: .75rem;
    animation: LowestFlightDeal_fadeInPrice__H6j__ .5s linear both;
    transition: transform .1s linear
}

.LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9:hover {
    text-decoration: none
}

@media screen and (min-width: 660px) {
    .LowestFlightDeal_LowestFlightDeal__OfferDollarSign__M1I3L {
        font-size:60px
    }

    .LowestFlightDeal_LowestFlightDeal__OfferPrice__JIAHR {
        font-size: 78px
    }

    .LowestFlightDeal_LowestFlightDeal__OfferFlightType__Kocqf {
        font-size: 15px
    }

    .LowestFlightDeal_LowestFlightDeal__DisclaimerLink__VrGo9 {
        color: #fff
    }
}

.LowestFlightDeal_noLinkStyle__B5__y {
    text-decoration: none!important;
    color: inherit!important
}

@keyframes LowestFlightDeal_fadeInPrice__H6j__ {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.FeatureCard_FeatureCard__e__h9 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    height: 100%
}

.FeatureCard_FeatureCardOverlay__ApCR9 {
    padding: 15px 24px;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column
}

.FeatureCard_FeatureCard__ContentWrapper__UUjTA {
    width: 100%
}

.FeatureCard_FeatureCard__Content__8m4QP {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.FeatureCard_FeatureCard__Content__8m4QP>* {
    margin: 0;
    line-height: 1.5em
}

.FeatureCard_FeatureCard__Disclaimer__LunwW {
    font-size: 11px;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0 0
}

.FeatureCard_FeaturedCard_DisclaimerLink__2o6md {
    margin-bottom: 12px
}

.FeatureCard_FeatureCard__BackgroundImage__OScfT {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%
}

.FeatureCard_FeatureCard__Image__PAV_5 {
    width: auto;
    align-self: center
}

.FeatureCard_FeatureCard__Header__5is2p {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 24px
}

.FeatureCard_FeatureCard__Footer__MlC4O {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 80px
}

.FeatureCard_bgPlaceholder__7Hown {
    position: relative;
    min-height: 390px;
    padding: 30px;
    background-color: #f8f8f8
}

.FeatureCard_bgPlaceholder__Header__D4Z7C {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: auto
}

.FeatureCard_bgPlaceholder__Header__D4Z7C,.FeatureCard_bgPlaceholder__Headline__fKLAe {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: FeatureCard_placeHolderShimmer__qU_Pv;
    animation-timing-function: linear;
    background: #f8f8f8;
    background: linear-gradient(90deg,#dbdbdb 8%,#f8f8f8 18%,#dbdbdb 33%);
    background-size: 900px 104px
}

.FeatureCard_bgPlaceholder__Headline__fKLAe {
    height: 2em;
    width: 80%;
    margin: 2em auto;
    border-radius: 5px
}

.FeatureCard_bgPlaceholder__ContentWrapper__jFqXP {
    margin: 2em auto
}

.FeatureCard_bgPlaceholder__Content__Bwe6Z {
    height: .75em;
    width: 100%;
    margin: 1em auto
}

.FeatureCard_bgPlaceholder__Button__iksmt,.FeatureCard_bgPlaceholder__Content__Bwe6Z {
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: FeatureCard_placeHolderShimmer__qU_Pv;
    animation-timing-function: linear;
    background: #f8f8f8;
    background: linear-gradient(90deg,#dbdbdb 8%,#f8f8f8 18%,#dbdbdb 33%);
    background-size: 900px 104px
}

.FeatureCard_bgPlaceholder__Button__iksmt {
    height: 4em;
    width: 60%;
    margin: auto
}

@keyframes FeatureCard_placeHolderShimmer__qU_Pv {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

.FeatureCard_bgErrorPlaceholder__OPMl6 {
    position: relative;
    min-height: 390px;
    padding: 30px;
    background-color: #f8f8f8
}

.FeatureCard_bgErrorPlaceholder__Header__R250R {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: auto;
    background: #dbdbdb
}

.FeatureCard_bgErrorPlaceholder__Headline__qOOh2 {
    height: 2em;
    width: 80%;
    margin: 2em auto;
    border-radius: 5px;
    background: #dbdbdb
}

.FeatureCard_bgErrorPlaceholder__ContentWrapper__SLkAq {
    margin: 2em auto;
    text-align: center
}

.FeatureCard_bgErrorPlaceholder__Content__1rOVP {
    height: .75em;
    width: 100%;
    margin: 1em auto;
    border-radius: 5px;
    background: #dbdbdb
}

.FeatureCard_bgErrorPlaceholder__Button__8lhoP {
    height: 4em;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    background: #dbdbdb
}
