.thankyou {
    background-image: url(../assets/image/thank.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}


.th-contain {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-color:#00174a ;
    color: white;
}


.th-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.th-body h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.em-th {
    font-size: 20px;
    word-wrap: break-word;
}

@media screen and (max-width: 620px) {
    .th-contain{
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px 10px;
    }
    .th-body {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .em-th {
        font-size: 20px;
        word-wrap: break-word;
        background-color: white;
        color: #00174a;
        padding: 2px;
    }
}

