.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 9;
  background: #051c33;
}

.close-left {
  right: -50px !important;
  top: 30px !important;
  background-color: #051c33;
}

.popup-dsgn {
  width: 100%;
  display: table;
}
.popup-dsgn-box {
  width: 100%;
  display: table;
  background-size: contain;
  background-position: 100% 100%;
  position: relative;
  border-radius: 2px;
}

.popup-dsgn-box .popup-dsgn {
  border-radius: 2px;
}

.content_set2 {
  margin-top: 25px;
  display: table;
  width: 100%;
}

.content_bx {
  display: table;
  width: 100%;
  background-size: cover;
  padding: 0 0 32px 0;
  box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.4);
}
.content_bx a {
  text-decoration: none;
}
.mymodal_body {
  padding: 0;
}
.my_model_ctnt {
  border: 5px solid #02416c;
}
.close2 {
  position: absolute;
  right: 9px;
  top: 4px;
  z-index: 11;
  opacity: 1;
  color: #fff;
}
.mymodel_here {
  border-bottom: 0;
  padding: 0;
}

.pnd_ddl {
  background: #051c33;
  padding: 10px 0;
  text-align: center;
}
.pnd_ddl h4 {
  font-size: 18px;
  color: #fff;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.nn_dst {
  text-align: center;
}
.nn_dst h3 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 30px;
  color: #002049;
  margin: 20px 0 22px 0;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.nn_dst h4 {
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #464343;
  margin: 0 0 30px 0;
  font-weight: 600;
}
.nn_dst h5 {
  font-size: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 20px 0;
  font-weight: 600;
}
.lakdi_pn {
  height: 90px;
  overflow: hidden;
  width: 90px;
  margin: 25px auto 25px auto;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.lakdi_pn img {
  width: 100%;
  height: auto;
}

.exbt_cl {
  text-align: center;
  margin: 15px 0 0 0;
}
.exbt_cl h6 {
  font-size: 20px;
  color: #000000;
  margin: 20px 0 32px 0;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
}
.exbt_cl h4 {
  font-size: 24px;
  color: #fff;
  margin: 0px 0 15px 0;
  padding: 15px 25px 15px 25px;
  border: dashed 1px #fff;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 12px;
  background: #051c33;
  font-weight: 600;
}

.fttr_ttl {
  background: #051c33;
  padding: 12px 10px;
  width: 100%;
  text-align: center;
}
.fttr_ttl p {
  font-size: 18px;
  color: #fff;
  margin: 0px;
  text-transform: uppercase;
}
.fttr_ttl a {
  font-size: 26px;
  color: #fff;
  margin: 0px;
  text-decoration: none;
  display: block;
  line-height: 40px;
  font-weight: 600;
}
.fttr_ttl img {
  position: absolute;
  bottom: 0;
  width: 75px;
  left: 0;
}

.menu-button {
    display: none;
}
.menu-links {
    display: none;
}

@media screen and (max-width: 420px) {

    .head-two {
        display: none !important;
    }
    .head-right {
        display: none !important;
    }
    /* menu bar css starts */
.menu-button {
    border: none;
    cursor: pointer;
    display: block;
}


/* Style for the menu links (initially hidden) */
.menu-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 120px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 1;
}

/* Style for individual menu items */
.menu-link {
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

/* Style for menu item hover state */
.menu-link:hover {
    background-color: #ddd;
}
}
/** RESONSIVE CSS START **/

@media (min-width: 320px) and (max-width: 479px) {
  #boxes .window {
    display: block;
    width: 100%;
    left: 0 !important;
    top: 0px !important;
    height: 100%;
    transform: translate(0%, 0%);
  }
  #boxes {
    display: block;
  }
  .fttr_ttl {
    padding: 12px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .lakdi_pn {
    height: 90px;
    overflow: hidden;
    width: 90px;
  }
  .popup-dsgn-box {
    width: 100%;
    display: table;
    background: url(./img/country-footer.png) no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    position: relative;
    border-radius: 2px;
    height: 100%;
    background: #fff;
  }
  .close-left {
    right: -1px !important;
    background-color: #002049;
  }
}

/* popup styles start now */
#mask {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 9000 !important;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100% !important;
  width: 100% !important;
  z-index: 999;
}

#boxes .window {
  left: 50% !important;
  position: fixed;
  top: 50% !important;
  z-index: 9999;
  width: 700px;
  transform: translate(-50%, -50%);
}
#boxes #dialog {
  background-color: #efefef;
  border-radius: 10px;
}
#boxes #dialog a {
  text-decoration: none;
}
.text-success2 {
  color: #0b4075;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: solid 1px #ee372b;
  padding-bottom: 6px;
}
.home-page-popup .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.home-page-popup .close {
  display: block;
  height: 29px;
  margin: 0 auto;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 9px;
  text-indent: 0;
  top: 5px;
  width: 30px;
}

.flight {
  width: 100%;
  display: table;
  position: relative;
}
.flight img {
  position: absolute;
  top: 310px;
  width: 100%;
  height: 200px;
}

.search-box_design {
  position: relative;
  height: 160px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
}
.result-box {
  width: 45%;
  display: table;
  float: left;
  text-align: center;
}
.search-heading {
  text-align: center;
  font-size: 25px;
  padding: 0px 0;
  font-weight: bold;
  color: #454545;
}
.arrow img {
  width: 65px;
  float: left;
  margin-top: 20px;
}
.one_way {
  text-align: center;
  font-weight: bold;
  background: #e67817;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
  color: #fff;
}
.close img {
  height: 100%;
  position: relative;
  z-index: 9999999;
}

@media (min-width: 360px) and (max-width: 639px) {
  #boxes .window {
    display: block;
    width: 100%;
    left: 0 !important;
    top: 0px !important;
    transform: translate(0%, 0%);
  }
  .close-left {
    right: -30px !important;
    top: 30px !important;
    background-color: #002049;
  }
  #boxes {
    display: block;
  }
  .fttr_ttl {
    padding: 12px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .lakdi_pn {
    height: 90px;
    overflow: hidden;
    width: 90px;
  }
  .popup-dsgn-box {
    width: 100%;
    display: table;
    background: url(./img/country-footer.png) no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    position: relative;
    border-radius: 2px;
    height: 100%;
    background: #fff;
  }
}

@media screen and (max-width: 400px) {
  .head-right {
    display: none !important;
  }
  .pnd_ddl h4 {
    font-size: 12px;
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
  }
  .nn_dst h3 {
    font-size: 27px;
  }
  .fttr_ttl {
    padding: 5px 5px;
  }
}
